.cat {
    @apply bg-grey600 rounded flex flex-row items-center h-10;
    padding: 10px 38px 10px 30px;
    width: 280px;
}

.cat-text {
    @apply h-auto text-center not-italic font-normal text-base leading-6 flex items-end flex-none order-1 flex-grow-0;
    color: white;
}

.cat-logo {
    @apply flex-none order-none flex-grow-0;
    margin: 0px 6px;
}