.right {
    @apply float-right;
}

.template {
    @apply relative;
}

ul {
    @apply list-none m-0 p-0 overflow-hidden absolute w-full top-0 left-0;
    background-color: white;
    z-index: -1;
}

li {
    @apply float-left;
}

li a {
    @apply block text-center no-underline not-italic font-bold text-sm leading-5 uppercase;
    color: black;
    padding: 14px 16px;
    letter-spacing: 0.02em;
}

.active {
    margin: 0px 15px;
}