.btn {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 36px 10px 32px;
background: #A1A1AA;
border-radius: 4px;
width: 280px;
height: 44px;
}

.btn-text {
height: auto;
margin: auto auto;
position: relative;
text-align: center;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 20px;
display: flex;
align-items: flex-end;
text-transform: uppercase;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;
}

.btn-logo {
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 12px;
}