.btn {
    @apply flex flex-row justify-center items-center bg-grey400 rounded h-10;
    padding: 10px 36px 10px 32px;
    width: 280px;
}

.btn-text {
    @apply h-auto relative text-center not-italic font-bold text-xs leading-5 flex items-end uppercase flex-none order-1 flex-grow-0;
    margin: 0px 12px;
    color: white;
}

.btn-logo {
    @apply flex-none order-none flex-grow-0;
    margin: 0px 12px;
}