
.text {
    @apply text-left;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.02em;
    text-transform: uppercase;

    /* White */

    color: white;
    text-align: left;

}
.btn-spacing {
    margin-top: 10px;
}